// Color variables
$c-primary: #227093;
$c-secodary: #2f8dbd;
$c-body: #3e4a59;
$c-dark: #1e2936;
$c-muted: #677388;
$c-purple: #7d3fa1;
$c-bg: #fafafa;
$c-list: $c-body, $c-body, $c-purple, $c-purple, $c-primary;
