---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Esther: Version History" mainClass="home">
  <div class="landing">
    <h1>Esther: Version History</h1>
    <p class="subTitle">Accessible UI, interface craft, and ongoing experiments.</p>
    <nav class="nav">
      <ul>
        <li>
          <a href="/esther/">
            <i class="icon" style="--icon-url: url('/icons/icon-bubble.svg')" aria-hidden="true"></i>
            <span>Esther</span>
          </a>
        </li>
        <li>
          <a href="/blog/">
            <i class="icon" style="--icon-url: url('/icons/icon-book.svg')" aria-hidden="true"></i>
            <span>Blog</span>
          </a>
        </li>
        <li>
          <a href="/portfolio/">
            <i class="icon" style="--icon-url: url('/icons/icon-suitcase.svg')" aria-hidden="true"></i>
            <span>Portfolio</span>
          </a>
        </li>
        <li>
          <a href="/playground/">
            <i class="icon" style="--icon-url: url('/icons/icon-cube.svg')" aria-hidden="true"></i>
            <span>Playground</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/estherj-hsu" target="_blank">
            <i class="icon" style="--icon-url: url('/icons/icon-git.svg')" aria-hidden="true"></i>
            <span>Github</span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/estherjhsu/">
            <i class="icon" style="--icon-url: url('/icons/icon-linkedin.svg')" aria-hidden="true"></i>
            <span>LinkedIn</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</BaseLayout>
