---
const currentYear = new Date().getFullYear();
---

<footer class="footer">
  <p>
    <small>
      Designed by EstherJ <span class="footer-separator">|</span> Copyright © {currentYear}
    </small>
  </p>
</footer>
