---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Esther from '../../components/Esther.astro';
---

<BaseLayout title="UX Case Study: Talenx">
  <article class="case-study">

    <h1>Talenx</h1>

    <div class="cover-image">
      <img src="/img/talenx/talenx.png" alt="Talenx cover" />
    </div>

    <ul class="list-column">
      <li><b>Role</b>: Frondend Developer & Interface Designer</li>
      <li><b>Type of project</b>: Web application features design</li>
      <li><b>Target users</b>: Recruters, Headhunters, and HR Consultants</li>
    </ul>

    <section>
      <h2>About Talenx</h2>
      <Esther>
        <p>I worked on this project early on and was in charge of UI & UX design and development. Since most of the features were a bit complicated, I chose a small part of one particular feature for the case study to show the design process and result.</p>
        <p>
          The product has already launched, so I can't show all the features I designed and developed. Please feel free to [contact me](https://www.linkedin.com/in/estherjhsu/) if you'd like to learn more about my design process. I'm happy to walk through the key features I created with you.
        </p>
      </Esther>

      <hr />

      <p>A psychology-based recruiting web service for companies to better screen and select candidates based on their personalities at work and how they match the company cultures.
      </p>
    </section>

    <section>
      <h2>Design Process</h2>

      <div class="designProcess">
        <div class="designProcess-step">
          <h3>Understanding Needs</h3>
          <p>
            According to the reference shared from the clients, finding the needs and insights of the features.
          </p>
        </div>
        <div class="designProcess-arrow"><i class="icon" style="--icon-url: url('/icons/icon-arrow-right.svg'); width: 48px; height: 48px;" aria-hidden="true"></i></div>
        <div class="designProcess-step">
          <h3>Discovering Solutions</h3>
          <p>
            Exploring the possible solutions based on the feasibility and creating wireframes.
          </p>
        </div>
        <div class="designProcess-arrow"><i class="icon" style="--icon-url: url('/icons/icon-arrow-right.svg'); width: 48px; height: 48px;" aria-hidden="true"></i></div>
        <div class="designProcess-step">
          <h3>Implementing Design</h3>
          <p>
            Creating final design based on the expectations and solutions.
          </p>
        </div>
      </div>
    </section>

    <section>
      <h2>CASE: Create Job Role Profile</h2>
      <p>The feature is about creating a job profile based on one primary role with a max of 5 optional sub-roles. Each role contains different traits and users can set the weight of each trait while creating the job profile. For the case study, I focus on the first step of the feature: <em>Selecting primary and sub roles</em>.</p>

      <h3>Step 1: Understanding Needs</h3>
      <p>Let users to create a job role profile based on the primary job role with a max of 5 sub-roles.</p>

      <div class="content-column">
        <div class="content-column-item">
          <div class="shadow-sm bg-white">
            <img src="/img/talenx/ref-1.png" width="100%">
          </div>
        </div>
        <div class="content-column-item">
          <img src="/img/arrow-2.png" width="70" class="d-inline-block">
          <img src="/img/ref.png" width="140" class="d-inline-block">
          <blockquote>When choosing a ready made job profile, they can first search via our search bar placed in the middle of the screen instead of the top.</blockquote>
        </div>
      </div>

      <div class="content-column">
        <div class="content-column-item">
          <img src="/img/ref.png" width="140" class="d-inline-block">
          <img src="/img/arrow-1.png" width="100" class="d-inline-block">
          <blockquote>
            After searching for a job title, the relevant jobs are displayed in the bottom to show the most closely related jobs to choose from. </br>
            This will give opportunity to client to specify their job, or create a new one from scratch.</br>
            We will have this <strong>grouping</strong> ready for system.
          </blockquote>
        </div>
        <div class="content-column-item">
          <div class="shadow-sm bg-white">
            <img src="/img/talenx/ref-2.png" width="100%">
          </div>
        </div>
      </div>

      <h3>Step 2: Discovering Solutions</h3>
      <div class="content-column">
        <div class="content-column-item">
          <div class="shadow-sm bg-white">
            <a href="/img/talenx/low-fi-1.png" data-fancybox data-caption="Low-Fi Main Role">
              <img src="/img/talenx/low-fi-1.png" width="100%">
            </a>
          </div>
        </div>
        <div class="content-column-item">
          <h3 class="text-primary">Ideation</h3>
          <b class="text-body">Idea #1: Multi-level selector</b><br/>
          <ul>
            <li>500+ roles in 10+ industries each contains 5+ sectors</li>
          </ul>
          <b class="text-body">Idea #2: Search input</b><br/>
          <ul>
            <li>Show results by industries</li>
            <li>Keyword is not just about the role</li>
          </ul>
          <b class="text-body">Idea #3: Tags</b><br/>
          <ul>
            <li>Tags for sub-roles</li>
          </ul>
        </div>
      </div>

      <div class="content-column">
        <div class="content-column-item">
          <h3 class="text-primary">Ideation</h3>
          <p><span class="goal">GOAL #1</span><br/>
          Break down job roles into industries and sectors; the fewer and more structured options at once, the easier decision-making for users.</p>
          <p><span class="goal">GOAL #2</span><br/>
          Search by keyword for users who know what they need.</p>
          <p><span class="goal">GOAL #3</span><br/>
          Tags for sub-roles make it easier for users to delete and add sub-roles.</p>
        </div>
        <div class="content-column-item">
          <div class="shadow-sm bg-white">
            <a href="/img/talenx/low-fi-2.png" data-fancybox data-caption="Low-Fi Sub-roles">
              <img src="/img/talenx/low-fi-2.png" width="100%">
            </a>
          </div>
        </div>
      </div>

      <h3>Step 3: Implementing Design</h3>

      <div class="shadow-sm bg-white">
        <a href="/img/talenx/final-1.png" data-fancybox data-caption="Final Design Main Role">
          <img src="/img/talenx/final-1.png" width="100%" />
        </a>
      </div>

      <div class="shadow-sm bg-white">
        <a href="/img/talenx/final-2.png" data-fancybox data-caption="Final Design Sub-roles">
          <img src="/img/talenx/final-2.png" width="100%" />
        </a>
      </div>
    </section>

    <section>
      <h2>Conclusion</h2>
      <p>While working on this project, I learned to be the connection between the development team and the clients, analyzing clients' needs and providing prototypes and designs.</p>
    </section>
  </article>
</BaseLayout>